.commentsHeader {
    display: grid;
    grid-template-columns: repeat(2, 6fr);

    div:first-child {
        h2 {
            padding: 0px 25px;
        }
    }

    div:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 25px;

        img {
            cursor: pointer;
        }
    }
}

.comments {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 25px;
    padding: 25px 25px 25px 25px;

    .comment {
        display: grid;
        grid-template-columns: 12fr;
        border-radius: 10px;
        background: #f5f5f5;
        padding: 0px 25px;

        div:first-child {            
            p {
                color: rgba(130, 0, 0, 0.995);
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
                margin-bottom: 2px;
            }
        }

        div:nth-child(2) {
            p {
                color: #000000;
                font-size: 18px;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 2px;
            }
        }

        div:last-child {
            p {
                color: rgb(34, 34, 113);
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 8px;
            }
        }
    }
}


@media (min-width: 720px) {
    .comments {
        grid-template-columns: repeat(2, 6fr);
    }
}
